<nav class="navbar navbar-expand-lg navbar-light beautiful-navbar shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-primary" routerLink="/home" routerLinkActive="active-link">MiniStore</a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-2">
        <li class="nav-item" *ngIf="login">
          <a class="nav-link active nav-button" aria-current="page" routerLink="home" routerLinkActive="active-link">Home</a>
        </li>
        <li class="nav-item" *ngIf="login">
          <a class="nav-link nav-button" routerLink="category" routerLinkActive="active-link">Category</a>
        </li>
        <li class="nav-item" *ngIf="!login">
          <a class="nav-link nav-button" routerLink="register" routerLinkActive="active-link">Register</a>
        </li>
        <li class="nav-item" *ngIf="!login">
          <a class="nav-link nav-button" routerLink="login" routerLinkActive="active-link">Login</a>
        </li>
      </ul>

      
      <button class="btn btn-danger ms-lg-3" *ngIf="login" (click)="logOut()">LogOut</button>
    </div>
  </div>
</nav>